* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Styles */
:root {
  --background: #fffbfc;
  --letter: #b90504;
  font-size: 100%;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 110%;
  }
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--background);
  position: relative;
  color: var(--letter);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  font-family: "Allura", cursive;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

main {
  max-width: 500px;
  width: 95%;
}

#illustration {
  position: absolute;
  bottom: 0;
  right: 0;
}

#illustration img {
  width: 13.75rem;
  height: auto;
}

@media screen and (min-width: 1024px) {
  #illustration img {
    width: 30rem;
    height: auto;
  }
}
